<!DOCTYPE html>
<html>
<head>
	<title>List</title>
</head>
<body>
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

<ol>

{% for x in post_list %}
	<a href="{{x.get_absolute_url}}"><li> {{x.title}} </li></a> <!-- the posts: is from namespace in the project url -->
<!-- 	<li>{{x}}</li> we use this one if we want to output the defult value the def __str__ in the model--> 
{% endfor %}
</ol>


</body>
</html>